<div class="card">
  <%= link_to image_tag(prototype.image, class: :card__img ), prototype_path(prototype)%>
    <%# <%= link_to image_tag("プロトタイプの画像", class: :card__img ), root_path%#> %>
  <div class="card__body">
    <%= link_to prototype.title, prototype_path(prototype), class: :card__title%>
<%# MEMO %>
        <%# <%= link_to "プロトタイプのタイトル", root_path, class: :card__title%#> 
        https://master.tech-camp.in/v2/curriculums/4845
        https://master.tech-camp.in/v2/curriculums/4218
        link_toの遷移先をPrefixで指定しよう
          これまでlink_toにはURI Patternを用いて遷移先を指定していましたが、今回は、Prefixを用いて遷移先を指定します。
          link_toを用いて遷移先のパスを指定する際は、Prefixを使用するのが一般的です。

          Prefixプレフィックス
          Prefixとは、ルーティングのURI Patternに名前をつけて変数化したものです。
          これにより、URI Patternの代わりにPrefixを用いてパスを表現できます。
          # Prefix未使用
            <%= link_to "link_button", '/', class: "header__title--text" %＃>

          # Prefix使用
            <%= link_to "link_button", root_path, class: "header__title--text" %＃>
            削除するdestroyアクションに対応するPrefixはtweetということが分かります。

            tweetというPrefixなので、tweet_pathとパスを指定します。
            また、このとき、HTTPメソッドがDELETEであることにも注意しましょう。

            また、Prefixを用いる前は、"/tweets/#{tweet.id}"と記述してそれぞれのツイートのID（tweet.id）が入るようにしていました。
            一方、Prefixを用いる場合は、このツイートのIDはtweet_path(tweet.id)のようにPrefixの引数として渡すようにします。


        ■ 解決したいこと
          編集
          ＿Pathの書き方について確認させてください。
          https://master.tech-camp.in/v2/curriculums/4218
          <%= link_to '削除', tweet_path(tweet.id), method: :delete %#>
          と比較して
          https://master.tech-camp.in/v2/curriculums/4845
          <%= link_to current_user.name, edit_user_path(current_user) %#>
          と２つの種類があると思うのですが、tweet_path(tweet.id)のようにIDをつける時とつけないときの差は何になりますか？


          ２つ目のコードのURIを見ていると「 /users/:id/edit(.:format)」　と、IDが入っており、困惑しています
        ■ 調べた内容とそこから立てた仮説
          引数にidが含まれる変数を設定できていれば、【.id】の有無に特段違いはございません。


          <%= link_to '削除', tweet_path(tweet.id), method: :delete %#>
          変数tweetにはすでにid情報が含まれているため、tweet_path(tweet.id)とtweet_path(tweet)はどちらも同じ結果を返します。


          同じ様に


          <%= link_to current_user.name, edit_user_path(current_user) %#>
          こちらの引数を(current_user.id)と設定しても問題ありません。
          current_userにはidの情報を含んでいるためどちらの記述も可能となります。


          この様に、
          ルーティング上でidを必要とするパスを生成する際には特定のidのデータを渡すことができればどちらの書き方でも問題ない、とご認識いただけたらと存じます。
                  
                  
                  
                  
        %>
<%# MEMO END %>
    <p class="card__summary">
      <%= prototype.catch_copy %>
            <%# <%= "プロトタイプのキャッチコピー" %#> %>
    </p>
    <%= link_to "by #{prototype.user.name}", root_path, class: :card__user %>
        <%# <%= link_to "by プロトタイプの投稿者名", root_path, class: :card__user %#> %>
  </div>  
</div>